p{
  font-family: 'Oswald';
  color:gold;
  position: static;
    border: 3px solid #73AD21;
}
body{
  background-color: rgb(31, 31, 31);
  font-family: 'Kanit';
  color: darkviolet;
  font-weight: bold;
}
a:hover{
  background-color: hotpink;
}
  div.static {
    position: static;
    border: 3px solid #73AD21;
    }